body {
    margin: 0;
    font-family: cursive;
}


#background {
    display: none;
    width: 1752px;
    height: 920px;
    background-image: url(./img/background\ test\ 2.jpg);
    animation: scrollBackground 10s linear infinite;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1752px 0;
    }
}

#infoContainer {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 160px;
    height: 910px;
    background-color: palevioletred;
    border: 5px solid rgb(199, 103, 135);
}

#infoContainer section {
    margin: 50px 10px;
    font-family: cursive;
    font-size: 1.5em;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement  */
    gap: 10px;
}

#timer img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

#bonesCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement  */
    gap: 10px;
}

#bonesCounter img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

#commands {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement  */
    gap: 10px;
}

#commands img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

#commands p {
    font-size: 0.8em;

}

#gameOverView {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#resultView {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#startWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

#startGameButton img {
    width: 50px;
    height: 50px;
}

#mainPlayer {
    position: absolute;
}

#angryCat {
    position: absolute;
}

#badDog {
    position: absolute;
}

#bone {
    position: absolute;
}